{% extends 'base.html.twig' %}

{% block title %}
    Login - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>¡Bienvenido a NovaCafé!</h1>

    {% if error %}
        <p class="alert alert-danger">{{ error.message() }}</p>
    {% endif %}

    <form class="form" method="post">
        <input type="text" name="_username" placeholder="Nombre de usuario" class="form-control" value="{{ last_user }}" />
        <input type="password" name="_password" placeholder="Contraseña" class="form-control"/>
        <button type="submit" class="btn btn-success">Iniciar Sesión</button>
    </form>

{% endblock %}